*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-X: hidden;
    position: relative;

}

/* GENERAL */

.priamry-color{
    background-color: cadetblue;
    color: black;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 700;
    display: block;
    margin: 3px 5px;
    /* background-color: beige; */
    width: 110px;
    text-align: center;
    
}

.logo{
    font-size: 32px;
}


/*  */


header{
    background-color: aqua;
    text-align: center;
    padding: 10px 0;
    position: relative;

    
}
nav{
    /* background-color: yellowgreen; */
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    /* height: 100%; */
    z-index: 999;
    backdrop-filter: blur(45px);
    box-shadow: 0 2px 20px black;
    
    
    
   
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.video-content{
    width: 100%;
    height: 600px;
    background-color:rgba(255, 0, 0, 0.242);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    
   
    
    
} 
.video-content p{
   
    font-size: 150px;
    position: absolute;
    background-color: white;
    mix-blend-mode: screen;
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height:130px;
    font-weight: bolder;
    top: 0;
    padding: 65px 0 0 0;
    overflow-y: hidden;
    word-wrap: break-word;
   
    
    
   
    
    
    

}
video{
   position: absolute;
   width: 100%;
   height: 100%;
    object-fit: cover;
    top: 0;
   
   
}





.x{
    height: 500px;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100PX;
   
}

.z{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100PX;
    background-color: white;
}


footer{
    position: relative;
    background-color: aqua;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

/* HOVER */


nav li a:hover{

    border-bottom: 2px solid red;
}